server:
    port: 8080

spring:
    application:
        name: springbootk8s-demo

management:
    security:
        enabled: false
    server:
        port: 8080
    endpoints:
        web:
            exposure:
                include: health,info,metrics
    endpoint:
        health:
            show-details: always